---
http_interactions:
- request:
    method: post
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?destinations=1.1241,400.31311&key=AIzaSyBe1iMVLDFlrFzEN4yB7FFEVrxwdj7V3Nc&mode=driving&origins=100.323131,250.31124&units=metric
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "destination_addresses" : [ "" ],
           "origin_addresses" : [ "" ],
           "rows" : [
              {
                 "elements" : [
                    {
                       "status" : "NOT_FOUND"
                    }
                 ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Wed, 19 Apr 2023 06:27:22 GMT
recorded_with: VCR 6.1.0
