---
http_interactions:
- request:
    method: post
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?destinations=52.43002147996739,19.45364903980195&key=google_api_key&mode=driving&origins=51.729148231285386,19.495436984167636&units=metric
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "destination_addresses" : [ "Zamkowa 31, 09-500 Gostynin, Poland" ],
           "origin_addresses" : [ "Gabrieli Zapolskiej 70A, 93-256 \u0141\u00f3d\u017a, Poland" ],
           "rows" : [
              {
                 "elements" : [
                    {
                       "distance" : {
                          "text" : "95.3 km",
                          "value" : 95355
                       },
                       "duration" : {
                          "text" : "1 hour 12 mins",
                          "value" : 4318
                       },
                       "status" : "OK"
                    }
                 ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Wed, 19 Apr 2023 06:20:13 GMT
recorded_with: VCR 6.1.0
